* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.page-header {
    background-color: #fff;
}

.header-inner {
    min-height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    padding: 0 25px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    font-size: 36px;
    color: #1298dd;
    font-weight: 700;
}

.tourism {
    font-size: 30px;
    color: #8d8d8d;
}

.header-menu {
    display: flex;
    align-items: center;
}

.menu-item {
    margin-left: 18px;
}

.menu-link {
    display: block;
    font-size: 16px;
    color: #676767;
    padding: 8px 10px 9px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.menu-link.active {
    border-color: #1784d1;
    background-color: #2fa4f3;
}

.menu-link:hover {
    border-color: #8fc6f8;
    background-color: #97c6f6;
    color: #fff;
}

.intro {
    background-image: url(./images/intro-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 170px 0 160px;
    color: #fff;
}

.intro-title {
    font-weight: 400;
    font-size: 52px;
    line-height: 52px;
}

.intro-subtitle {
    font-weight: 400;
    font-size: 48px;
    margin-bottom: 39px;
}

.intro-btn {
    padding: 22px 55px;
    background-color: #57c443;
    border: 6px solid rgb(0, 0, 0, 0.12);
    border-radius: 10px;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
}

.page-content {
    background-color: #ececec;
    color: #7e7c7c;
}

.page-content-inner {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -96px;
}

.gallery {
    background-color: #fff;
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 26px 25px;
    border-radius: 5px;
    border-bottom: 7px solid #51c03d;
}

.gallery-title {
    text-align: center;
    font-size: 22px;
    color: #868686;
    margin-bottom: 21px;
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 79px;
    margin-right: 8px;
}

.gallery-item:nth-child(5n) {
    margin-right: 0;
}

.gallery-image {
    display: block;
    width: 100%;
}

.gallery-name {
    font-size: 14px;
    color: #929292;
}

.page-content-description {
    text-align: center;
    font-size: 26px;
    margin-top: 60px;
    margin-bottom: 54px;
}

.page-content-description span {
    font-size: 22px;
    display: block;
}

.services {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.services-item {
    text-align: center;
    margin-left: 36px;
    margin-right: 36px;
    width: 133px;
}

.service-image-wrapper {
    border-radius: 50%;
    background-color: #fff;
    width: 133px;
    height: 133px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}













.footer {
    background-color: #414141;
}

.footer-text {
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 7px 0 8px;
}
  




